.rowHome1 {
  margin-top: 100px;
}

.rowHome2{
  margin-top: 300px;
  margin-bottom: 200px;
  padding: 50px 0;
  border: 3px black solid;
  background-color: #FB934C;
}

.ul1{
  justify-content: space-evenly;
}

.ul1 li {
  padding: 0 4px;
}